@mixin btn-color-scheme($color) {
  color: rgba($color, 1);
  background: rgba($color, 0.15);
  border: 1px solid rgba($color, 1);
}

table {
  width: 100%;
  border-spacing: 25px;
  font-weight: bold;

  th,
  td {
    width: 16.6%;
    text-align: center;
  }

  th {
    font-size: 18px;
  }

  td {
    font-size: 16px;
  }

  .field-button {
    display: flex;
    justify-content: space-around;

    button,
    p {
      @include btn-color-scheme(rgb(0, 0, 60));
      font-size: 16px;
      padding: 6px 10px;
      border-radius: 3px;
    }
  }
}

.cart-total {
  text-align: right;
  padding-right: 20px;

  h5 {
    font-size: 17px;
    font-weight: bold;
    padding-right: 5px;
    margin-top: 8px;
  }

  .cart-total-btn {
    padding: 8px 24px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 18px;
  }

  #btn-clear-cart {
    @include btn-color-scheme(rgb(150, 0, 0));
    margin-bottom: 4px;
  }

  #btn-checkout {
    @include btn-color-scheme(rgb(140, 140, 0));
    margin-top: 12px;
  }

  #checkout-message {
    font-weight: bold;
    margin-top: 10px;
  }
}
